<!doctype html>
<html>
<head>
    <title>Word Guess Game Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">     
    <link rel="stylesheet" href="/static/index.css" />
</head>
<body>
    <img class="icon" src="/static/icon.png" alt="icon">
    <h1>Hello! Word Guess Game!</h1>
    <div class="container-btn">
        <a href="/register" role="button">Register</a>
        <a href="/login" role="button">Login</a>
        <a href="/howtoplay" role="button">How to play?</a>
    </div>
</body>
<footer>
    <p>Copyright ⓒ 2020</p>
</footer>
</html>