<!doctype html>
<html>
<head>
    <title>Word Guess Game Login Failure</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">     
    <link rel="stylesheet" href="/static/login.css"/>
</head>
<body>
    <h1>Login Failure</h1>
    <p>Try Again with a different username.</p> 
    <p>This may be caused by the username you entered does not exist
        or you entered an empty username.</p>
    <a class="go-login" href="/login" role="button">Login</a>
</body>
<footer>
    <p>Copyright ⓒ 2020</p>
</footer>
</html>