<!doctype html>
<html>
<head>
    <title>Word Guess Game Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">     
    <link rel="stylesheet" href="/static/login.css"/>
</head>
<body>
    <img class="icon" src="/static/icon.png" alt="icon">
    <h1>Login to Play!</h1>
    <form action="/login" method="POST">
        <input placeholder="Enter Your Username" type="text" name="username">
        <button class="login-btn" type="submit">Login</button>
    </form>
    <a class="go-home" href="/" role="button">Go Home</a>
</body>
<footer>
    <p>Copyright ⓒ 2020</p>
</footer>
</html>