<!doctype html>
<html>
<head>
    <title>Word Guess Game Register Failure</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">     
    <link rel="stylesheet" href="/static/register.css" />
</head>
<body>
    <h1>Register Failure</h1>
    <p>Try Again with a different username.</p> 
    <p>This may be caused by the username you entered already exists
        or you entered an empty username.</p>
    <a class="go-register" href="/register" role="button">Register</a>
</body>
<footer>
    <p>Copyright ⓒ 2020</p>
</footer>
</html>