<!doctype html>
<html>
<head>
    <title>Word Guess Game Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">     
    <link rel="stylesheet" href="/static/register.css" />
</head>
<body>
    <img class="icon" src="/static/icon.png" alt="icon">
    <h1>Register First!</h1>
    <form action="/register" method="POST">
        <input placeholder="Give a Unique Username" type="text" name="username">
        <button class="register-btn" type="submit">Register</button>
    </form>  
    <a class="go-home" href="/" role="button">Go Home</a>
</body>
<footer>
    <p>Copyright ⓒ 2020</p>
</footer>
</html>